---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">{{ site.title }}</h1>
      <div class="row center">
        <h5 class="header col s12 light">{{ content }}</h5>
      </div>
        
      <div class="row center">
        <a href="https://nursingjhu.qualtrics.com/jfe/form/SV_5dV4sAQO1mFx5HL" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <img class="step" src="assets\img\1.png" />
            <h5 class="center">Step 1</h5>
            <p class="light">Short Survey. Complete a short survey to see if you qualify to join the study. This will take less than 2 minutes.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
              <img class="step" src="assets\img\2.png" />
            <h5 class="center">Step 2</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.Survey. Complete a survey that includes questions about your experience as a
                caregiver. This will take about 30 minutes. After the survey, you will be asked if you are
                interested in sharing more information about your experiences in an online focus group at
                a later time. You will receive a $10 gift card for completion of the survey.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <img class="step" src="assets\img\3.png" />
            <h5 class="center">Step 3</h5>
            <p class="light">
                Focus group. Along with other caregivers of patients with LVADs, you will
                discuss your experiences and thoughts to inform research that may help other caregivers and patients with LVADs. This will take about 1 hour. You will receive a $15 gift card
                for participating in a focus group.
            </p>
          </div>
        </div>
      </div>

    </div>
      
    </div>
    <div style="background: #ddd">
</div>

  </div>